<div id="pages-container" class="col-md-4 col-md-offset-4">
	<h1>Feedsta</h1>
	<h3>Visualise photos in your Instagram feed before posting</h3>
	<br><br>
	<p>1. Add photos to your account</p>
	<p>2. Drag and drop at the top of your feed</p>
	<p>3. Save the order for future posts</p>
	<br>
	<%= link_to 'Create Account', new_user_registration_path, class: 'btn btn-primary' %>
	<br><br>
	<p>Have an account? <%= link_to 'Login', new_user_session_path %></p>
</div>
