<div class="row" id="app-header">
		<div class="col-xs-4 col-sm-4 col-md-4"></div>
		<div class="col-xs-4 col-sm-4 col-md-4 photos-head-center"><p class="insta-handle"> <!-- <i class="fa fa-caret-down" aria-hidden="true"></i> --></p></div>
		<div class="col-xs-4 col-sm-4 col-md-4 photos-head-right"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "settings" %> </div>
</div>
