<div class="row" id="app-header">
		<div class="col-md-4"></div>
		<div class="col-md-4 photos-head-center"><p class="insta-handle">iloveit.travel <i class="fa fa-caret-down" aria-hidden="true"></i></p></div>
		<div class="col-md-4 photos-head-right"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "settings" %> </div>
</div>
