<%= render "layouts/container-start" %>
<div class="panel">
	<div class="panel-body">
		<h1 class="mtn">Add New Photo</h1>
		<%= render 'form', photo: @photo %>
	</div>
</div>
<%= render "layouts/container-end" %>
