<%= render "layouts/container-start" %>
<div class="panel">
	<div class="panel-body">
		<h2 class="mtn">New Photo</h2>
		<%= render 'form', photo: @photo %>
		<%= render "layouts/container-end" %>
	</div>
</div>
