<div class="app-body">

    <p id="notice"><%= notice %></p>
    <h2 class="mbl">Saved Photos</h2>

	<div class="row photo-grid">
	  <% unless @saved_photos.blank? %>	
	      <% @saved_photos.each do |photo| %>
	          <div class="photo-wrapper col-md-4">
	            <%= image_tag(photo.url_url(:standard), class: "img-responsive") %>
	          </div> 
	      <% end %>
	  <% end %>
	</div> <!-- Row -->

</div>