/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

body, html {
	height: 100%;
}

.wrapper {
	// background-color: #f8f8f8;
	background-color: #e8e8e8;
	min-height: 600px;
	height: 100%;

}

.height {
	height: 100%;
}

#pages-container {
	background-color: #fff;
	text-align: center;
	padding: 25px 10px;
}

#app-container {
	background-color: #fff;
	height: 100%;
}

#app-body {

}

#app-header {
	height: 8vh;
	min-height: 50px;
}

#app-header .col-md-4 {
	height: 100%;
	display: table;
}

.insta-handle {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.3em;
}

.fa-settings {
	font-size: 2em;
	display: table-cell;
	vertical-align: middle;
}

#app-footer {
	position: absolute;
    left: 15;
    bottom: 0;
    height: 8vh;
    width: 100%;
    min-height: 50px;
}

#app-footer .col-md-4 {
	height: 100%;
	display: table;
}

#app-footer .col-md-4 .fa {
	font-size: 2em;
	display: table-cell;
	vertical-align: middle;
}



