/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

/* RESETS */

body, html {
	height: 100%;
	height: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 25px;
	margin: 0 0 20px 0; 
}

h2 {
	margin-bottom: 20px;
}

h3 {
	font-size: 16px; 
}

.panel {
	margin: 0 10px 10px 10px;
}

.panel-body {
	padding: 0 15px 15px 15px;
}

/* MARGIN & PADDING CLASSES */

.ptt {padding-top: 2px;}
.ptpx {padding-top: 1px;}
.ptn, .pvn, .pan { padding-top: 0px !important; }
.pts, .pvs, .pas { padding-top: 5px !important; }
.ptm, .pvm, .pam { padding-top: 10px !important; }
.ptl, .pvl, .pal { padding-top: 20px !important; }
.ptxl, .pvxl, .paxl { padding-top: 40px !important; }
.prn, .phn, .pan { padding-right: 0px !important; }
.prs, .phs, .pas { padding-right: 5px !important; }
.prm, .phm, .pam { padding-right: 10px !important; }
.prl, .phl, .pal { padding-right: 20px !important; }
.prxl, .phxl, .paxl { padding-right: 40px !important; }
.pbn, .pvn, .pan { padding-bottom: 0px !important; }
.pbs, .pvs, .pas { padding-bottom: 5px !important; }
.pbm, .pvm, .pam { padding-bottom: 10px !important; }
.pbl, .pvl, .pal { padding-bottom: 20px !important; }
.pbxl, .pvxl, .paxl { padding-bottom: 40px !important; }
.pln, .phn, .pan { padding-left: 0px !important; }
.pls, .phs, .pas { padding-left: 5px !important; }
.plm, .phm, .pam { padding-left: 10px !important; }
.pll, .phl, .pal { padding-left: 20px !important; }
.plxl, .phxl, .paxl { padding-left: 40px !important; }
.mtn, .mvn, .man { margin-top: 0px !important; }
.mts, .mvs, .mas { margin-top: 5px !important; }
.mtt {margin-top: 2px;}
.mtm, .mvm, .mam { margin-top: 10px !important; }
.mtl, .mvl, .mal { margin-top: 20px !important; }
.mtxl, .mvxl, .maxl { margin-top: 40px !important; }
.mrn, .mhn, .man { margin-right: 0px !important; }
.mrs, .mhs, .mas { margin-right: 5px !important; }
.mrm, .mhm, .mam { margin-right: 10px !important; }
.mrl, .mhl, .mal { margin-right: 20px !important; }
.mrxl, .mhxl, .maxl { margin-right: 40px !important; }
.mbn, .mvn, .man { margin-bottom: 0px !important; }
.mbs, .mvs, .mas { margin-bottom: 5px !important; }
.mbm, .mvm, .mam { margin-bottom: 10px !important; }
.mbl, .mvl, .mal { margin-bottom: 20px !important; }
.mbxl, .mvxl, .maxl { margin-bottom: 40px !important; }
.mln, .mhn, .man { margin-left: 0px !important; }
.mls, .mhs, .mas { margin-left: 5px !important; }
.mlm, .mhm, .mam { margin-left: 10px !important; }
.mll, .mhl, .mal { margin-left: 20px !important; }
.mlxl, .mhxl, .maxl { margin-left: 40px !important; }
.mtxlr { margin-top: -60px !important; }
.mbxlr { margin-bottom: -60px !important; }


/* APPLICATION WIDE CSS */

.app-container {
	margin-top: 80px;
	margin-bottom: 80px;
}

#app-header {
	height: 8vh;
	min-height: 50px;
}

#app-header .col-md-4 {
	height: 100%;
	display: table;
}

.insta-handle {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.3em;
}

.settings {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.photo-wrapper {
	overflow: hidden;
	padding: 0 2px 0 2px;
	margin: 0 2px 4px 2px;
}

.saved-wrapper {
	padding: 0 4px 0 2px;
	margin-bottom: 4px;
}

.photo-grid {
	min-height: 100%;
	margin: 0;
}

.app-footer {
    height: 50px;
}

.app-footer .col-md-4 {
	height: 100%;
	display: table;
}

.app-footer .col-md-4 a {
	font-size: 2em;
	display: table-cell;
	vertical-align: middle;
	color: #000;
}

.app-footer a:hover {
	text-decoration: none;
	background-color: #eeeeee;
}

.navbar-default {
	border-color: #D0CFCF;
	background-color: #eeeeee;
}

label.collection_radio_buttons {
    margin: 20px 30px 20px 10px;
}

.account-info {
	margin: 0 0 2em 0;
}

// .account-info div h1 {
// 	font-size: 34px;
// 	margin: 0 0 0.6em 0;
// }

.account-info div h6 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 0;
}

.account-stats p {
	font-size: 14px;
	color: grey;
	line-height: 150%;
	text-align: center;
}

.account-stats div {
	padding: 0;
}

.account-info img {
	display: block;
	margin: 0 auto;
}

.img-circle {
    border-radius: 50%;
}

.account-bio p {
	margin: 5px 10px 30px 10px;
	font-size: 16px;
	line-height: 150%;
}
.account-bio h4 {
	margin: 20px 10px 5px 10px;
	font-size: 16px;
	line-height: 150%;
	font-weight: bold;
}

.save-order-btn {
	width: 100%;
	color: #9d9d9d;
	border: 2px solid #ddd;
	background-color: white;
}
