  <div class="row app-navbar">
    <div class="col-md-4 col-md-offset-4">
      <div class="col-md-4"><i class="fa fa-th" aria-hidden="true"></i></div>
      <div class="col-md-4"><i class="fa fa-th" aria-hidden="true"></i></div>
      <div class="col-md-4"><i class="fa fa-th" aria-hidden="true"></i></div>
    </div>
  </div>
